@import "tailwindcss";
@plugin "daisyui" {
    name: "theme-ross-am";
    default: true;
      --primary: "#8B5CF6",
      --primary-focus: "#7C3AED",
      --primary-content: "#ffffff",
      --secondary: "#1E293B",
      --secondary-focus: "#0F172A",
      --secondary-content: "#ffffff",
      --accent-pink: "#EC4899",
      --accent-yellow: "#FBBF24",
      --accent-gray: "#334155",
      --base-100: "#ffffff",
      --base-200: "#f8fafc",
      --base-300: "#f1f5f9",
      --base-content: "#1e293b",
      --base-content-70: rgba(30, 41, 59, 0.7),
      .dark &: {
        --base-100: "#0F172A",
        --base-200: "#1E293B",
      }
}

